*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.content-header{
  padding: 2%;
  background: black;
  color: white;
  width: 100vw;
  height: 8.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer{
  position: fixed;
  bottom: 0;
  
}

.content-footer{
  padding: 2%;
  background: black;
  height: 8.5vh;
  width: 100vw;
  color: white;
  font-weight: 600;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main{
  height: calc(100vh - 17vh);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title{
  width: calc(98% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-main{
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title{
  background: black;
  border: 2px solid black;
  border-radius: 10px 10px 0px 10px;
  height: 10%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcArea{
  background: darkgray;
  border: 2px solid black;
  border-radius: 0px 10px 10px 10px;
  height: 90%;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 6%;
  flex-direction: column;
  padding: 2% 0px 0px 0px;
}

input{
  width: 100px;
  height: 20px;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  text-align: center;
}

.inputs{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2%;
}

button{
  text-align: center;
  width: 100px;
  height: 20px;
  font-weight: 800;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

button:hover{
  background: darkblue;
  color: white;
}